<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>v-model</title>
    <script src="./vue.js"></script>
  </head>
  <body>
    <!-- v-model,作用与表单数据双向绑定 -->
    <div id="app">
      <input type="text" v-model="msg" />
     <input type="text" @input="msg = $event.target.value" :value="msg" /><br>

      <input type="checkbox" v-model="checked" /><br>

      <input type="checkbox" id="cheng" value="成哥" v-model="checkList" />
      <label for="cheng">成哥</label>

      <input type="checkbox" id="deng" value="邓哥" v-model="checkList" />
      <label for="deng">邓哥</label>

      <input type="checkbox" id="tong" value="思彤哥" v-model="checkList" />
      <label for="tong">思彤哥</label>

      
      <br>
      <br>
      <input type="radio" id="cheng" value="成哥" v-model="picked" />
      <label for="cheng">成哥</label>

      <input type="radio" id="deng" value="邓哥" v-model="picked" />
      <label for="deng">邓哥</label>

      <input type="radio" id="tong" value="思彤哥" v-model="picked" />
      <label for="tong">思彤哥</label>

      <br>
      <br>
      <textarea v-model="multipleText"></textarea>

      <br>
      <select v-model="select">
        <option value="请选择" disabled>请选择</option>
        <option value="成哥">成哥</option>
        <option value="邓哥">邓哥</option>
        <option value="思彤哥">思彤哥</option>
      </select>

      <br>
      <select v-model="selectList" multiple>
        <option value="成哥">成哥</option>
        <option value="邓哥">邓哥</option>
        <option value="思彤哥">思彤哥</option>
      </select>

      <br>
      <input type="text" v-model.lazy="msg" />

      <br>
      <input type="number" v-model.number="msg" />

      <br>
      <input type="text" v-model.trim="msg" />
    </div>

    <script>
      //控制元素方法二(延迟控制)
      // vm.$mount('#app');
      const vm = new Vue({
        //控制元素方法一
        el: "#app",
        data: {
          msg: "hello world",
          checked: "xxx",
          checkList: [],
          picked: "",
          multipleText: "hello, 你好呀",
          select: "请选择",
          selectList: [],
        },
        methods: {},
      });
      setTimeout(() => {
        console.log(vm.msg);
      }, 3000);
    </script>
  </body>
</html>
